*.strategy
*.strat
*.card_abs
*.test
*.swp
*.o
*.d
*.dat
*.log
*.plot
test.abs
strategies/*
abstractions/*

cfrm
cluster-abs
potential-abs
player
gen_eval_table
lib/libpoker/lib/*
lib/libecalc/lib/*
lib/libpoker/obj/*
lib/libecalc/obj/*
.DS_Store
